* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1024px;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  outline: none;
}
